@page "/about"

<Layout>    
    <Layout Class="site-card-content">        
        <Content Class="site-background site-content">
            <h1>About page!</h1>            
        </Content>
    </Layout>
</Layout>